@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdn.privex.io/fonts/helvetica-neue/standard.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'tailwindcss';

:root {
    --font-mono: Space Mono, monospace;
    --font-poppins: Poppins, Helvetica Neue, helvetica, arial, sans-serif;

    --animate-wave-slow: waveMotion 25s linear infinite;
    --animate-wave-medium: waveMotion 20s linear infinite reverse;
}

@keyframes waveMotion {
    0% {
        transform: translateX(0) translateY(0);
    }
    25% {
        transform: translateX(-12.5%) translateY(2%);
    }
    50% {
        transform: translateX(-25%) translateY(0);
    }
    75% {
        transform: translateX(-37.5%) translateY(-2%);
    }
    100% {
        transform: translateX(-50%) translateY(0);
    }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

@layer utilities {
    .grid-gap-0 {
        grid-gap: 0;
        gap: 0;
    }

    .h-container {
        @apply mx-auto w-full max-w-[1220px] px-6 py-0 lg:flex lg:h-full lg:flex-row lg:items-center lg:justify-between lg:transition-opacity lg:duration-[0.4s] lg:ease-in-out;
    }

    @media (min-width: 1120px) {
        .h-container {
            grid-gap: 0;
            gap: 0;
        }
    }
}

@layer base {
    html {
        font-family: 'Poppins', 'Helvetica Neue', helvetica, arial, sans-serif;
    }
    .container {
        @apply mx-auto w-full max-w-[1220px] px-6 py-0;
    }
    .menu {
        @apply lg:flex lg:h-full lg:flex-1 lg:items-center lg:justify-center;
    }
    a,
    area,
    button,
    input,
    label,
    select,
    summary,
    textarea,
    [tabindex] {
        touch-action: manipulation;
    }
    img,
    svg,
    video,
    canvas,
    audio,
    iframe,
    embed,
    object {
        display: block;
    }
    button {
        -webkit-appearance: button;
        appearance: button;
    }
    .btn-white {
        @apply rounded-[80px] border-none bg-white px-6 py-4 text-sm/[1.375] font-medium text-[#0a2550] shadow-[0_6px_12px_rgba(0,0,0,0.3),0_1px_2px_rgba(0,0,0,0.3)] transition-all duration-300 ease-[ease-in-out] hover:bg-[#4ecdc4] hover:text-white focus:hover:bg-[#4ecdc4] focus:hover:text-white focus:hover:shadow-[0_10px_24px_rgba(0,0,0,0.3),0_6px_12px_rgba(0,0,0,0.3)] md:text-base/normal;
    }
    a {
        color: inherit;
        text-decoration: inherit;
    }
    a:not([class]) {
        -webkit-text-decoration-skip: ink;
        text-decoration-skip-ink: auto;
    }
    .search {
        background: url("data:image/svg+xml,%3c?xml%20version='1.0'%20encoding='UTF-8'?%3e%3csvg%20width='10px'%20height='10px'%20viewBox='0%200%2010%2010'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3c!--%20Generator:%20Sketch%2050.2%20(55047)%20-%20http://www.bohemiancoding.com/sketch%20--%3e%3ctitle%3eSearch%3c/title%3e%3cdesc%3eCreated%20with%20Sketch.%3c/desc%3e%3cdefs%3e%3cpath%20d='M9.86328125,8.65232312%20C9.95442718,8.74346884%2010,8.85414546%2010,8.98435358%20C10,9.1145617%209.95442718,9.22523832%209.86328125,9.31638404%20L9.31640625,9.86325773%20C9.22526032,9.95440345%209.11458343,9.99997616%208.984375,9.99997616%20C8.85416657,9.99997616%208.74348968,9.95440345%208.65234375,9.86325773%20L6.69921875,7.91013739%20C6.60807282,7.81899168%206.5625,7.70831505%206.5625,7.57810693%20L6.5625,7.26560768%20C5.83333343,7.83852288%205,8.12498063%204.0625,8.12498063%20C3.3203125,8.12498063%202.63997406,7.9426895%202.02148438,7.57810693%20C1.40299469,7.21352437%200.911458433,6.72198928%200.546875,6.10350107%20C0.182291567,5.48501287%200,4.80467604%200,4.06249031%20C0,3.32030458%200.182291567,2.63996776%200.546875,2.02147956%20C0.911458433,1.40299135%201.40299469,0.91145626%202.02148438,0.546873696%20C2.63997406,0.182291133%203.3203125,0%204.0625,0%20C4.8046875,0%205.48502594,0.182291133%206.10351562,0.546873696%20C6.72200531,0.91145626%207.21354157,1.40299135%207.578125,2.02147956%20C7.94270843,2.63996776%208.125,3.32030458%208.125,4.06249031%20C8.125,4.99998808%207.83854157,5.83331952%207.265625,6.56248435%20L7.578125,6.56248435%20C7.70833343,6.56248435%207.81901032,6.60805706%207.91015625,6.69920278%20L9.86328125,8.65232312%20Z%20M4.06249031,6.56248435%20C4.5182183,6.56248435%204.93813917,6.45180743%205.32225294,6.2304539%20C5.7063667,6.00910036%206.00910036,5.7063667%206.2304539,5.32225294%20C6.45180743,4.93813917%206.56248435,4.5182183%206.56248435,4.06249031%20C6.56248435,3.60676233%206.45180743,3.18684146%206.2304539,2.80272769%20C6.00910036,2.41861393%205.7063667,2.11588027%205.32225294,1.89452673%20C4.93813917,1.67317319%204.5182183,1.56249627%204.06249031,1.56249627%20C3.60676233,1.56249627%203.18684146,1.67317319%202.80272769,1.89452673%20C2.41861393,2.11588027%202.11588027,2.41861393%201.89452673,2.80272769%20C1.67317319,3.18684146%201.56249627,3.60676233%201.56249627,4.06249031%20C1.56249627,4.5182183%201.67317319,4.93813917%201.89452673,5.32225294%20C2.11588027,5.7063667%202.41861393,6.00910036%202.80272769,6.2304539%20C3.18684146,6.45180743%203.60676233,6.56248435%204.06249031,6.56248435%20Z'%20id='path-1'%3e%3c/path%3e%3c/defs%3e%3cg%20id='Symbols'%20stroke='none'%20stroke-width='1'%20fill='none'%20fill-rule='evenodd'%3e%3cg%20id='Icon-/-UI-/-Search'%3e%3cmask%20id='mask-2'%20fill='white'%3e%3cuse%20xlink:href='%23path-1'%3e%3c/use%3e%3c/mask%3e%3cuse%20id='Search'%20fill='currentColor'%20xlink:href='%23path-1'%3e%3c/use%3e%3c/g%3e%3c/g%3e%3c/svg%3e")
            24px 24px no-repeat;
    }
    .caret-down {
        background: url("data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%3e%3cpolygon%20fill='currentColor'%20fill-rule='evenodd'%20points='.5%202.019%202.014%20.5%209.5%208%202.014%2015.5%20.5%2013.981%206.467%208'%20transform='rotate(90%206.5%2013.5)'/%3e%3c/svg%3e")
            32px 32px no-repeat;
        background-position: right center;
    }
    [disabled] {
        cursor: not-allowed;
    }
}

.cta-btn {
    @apply rounded-[80px] border-none bg-[#0a2550] px-6 py-4 font-medium text-white [box-shadow:0_6px_12px_#0000004d,0_1px_2px_#0000004d] transition-all duration-300 hover:bg-[#4ecdc4] hover:text-[#0a2550] hover:[box-shadow:0_10px_24px_#0000004d,0_6px_12px_#0000004d] md:text-base lg:flex lg:items-center lg:justify-center;
}

.dropdown {
    @apply invisible absolute top-full left-[371.6px] z-4 hidden w-fit bg-[color:var(--color-background)] opacity-0 [box-shadow:0_1px_8px_#0000001a] [transition:all_.4s_ease];
}
.active {
    @apply visible block opacity-1;
}
.bg-orange-gradient {
    background: linear-gradient(
        135deg,
        #ffd400,
        #ffd201,
        #ffce02,
        #ffc605,
        #ffbc08,
        #ffb10c,
        #ffa411,
        #ff9717,
        #ff8a1c,
        #ff7e21,
        #ff7327,
        #ff6a2c,
        #ff6230,
        #ff5c33,
        #ff5736,
        #ff5537,
        #ff5438
    );
}

.bg-ferozi-gradient {
    background: linear-gradient(
        90deg,
        var(--color-primary),
        var(--color-primary),
        var(--color-primary),
        var(--color-primary),
        var(--color-primary),
        var(--color-primary),
        var(--color-primary),
        var(--color-primary),
        var(--color-primary),
        var(--color-primary),
        var(--color-accent),
        var(--color-accent),
        var(--color-accent),
        var(--color-accent),
        var(--color-accent),
        var(--color-accent),
        var(--color-accent)
    );
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px) scale(0.95);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
